<h2>Deck: {{.Deck.Name}}</h2>
<p>
<a href="/decks/{{.Deck.ID}}/cards/new" class="btn btn-default">Add Card</a>
</p>

<table class="table">
  {{range .Cards}}
  <tr>
    <td>{{.ID}}</td>
    <td>
      <a href="/cards/{{.ID}}/edit">
      {{.Context}}
      -
      {{.Front}}
      </a>
    </td>
    <td>{{.CreatedAt}}</td>
  </tr>
  {{end}}
</table>
