<h2>Review</h2>

{{if .CurrentReview}}
<div class="well">
  <h6>
    {{.CurrentReview.DeckName}}<br>
    <small>{{.CurrentReview.CardContext}}</small>
  </h6>
  <p>{{.CurrentReview.CardFront}}</p>
  <pre>
EF: {{.CurrentReview.EaseFactor}}
Interval: {{.CurrentReview.Interval}} days
Due: {{.CurrentReview.DueOn}}</pre>

  <div class="row">
    <div class="col-xs-3">
      <div class="row">
        {{range .Answers}}
        <div class="col-xs-2">
          <form action="/review/answer" method="POST">
            <input type="hidden" name="Rating" value="{{.Rating}}">
            <input type="hidden" name="ReviewID" value="{{.ReviewID}}">
            <input class="btn btn-default" type="submit" value="{{.Rating}}">
          </form>
        </div>
        {{end}}
      </div>
  </div>
  </div>
</div>
  <table class="table">
    {{range .CardReviews}}
    <tr>
      <td>{{.DeckName}}</td>
      <td>{{.CardContext}}</td>
      <td>{{.CardFront}}</td>
    </tr>
    {{end}}
  </table>
{{else}}
  <div class="jumbotron">
    <h1>Congratulations</h1>
    <p>You have reviewed everything for today.</p>
  </div>
{{end}}
