<h1>Welcome</h1>
<p>Below are your decks.</p>

<table class="table">
  {{range .decks}}
  <tr>
    <td>
      {{.Id}}
    </td>
    <td>
      <a href="/decks/{{.Id}}">{{.Name}}</a>
    </td>
  </tr>
  {{end}}
</table>
