<h1>Welcome</h1>
<p>Below are your decks.</p>

<table class="table">
  {{range .decks}}
  <tr>
    <td>
      {{.ID}}
    </td>
    <td>
      <a href="/decks/{{.ID}}">{{.Name}}</a>
    </td>
  </tr>
  {{end}}
</table>
